package site

templ Footer() {
	<footer class="site-footer">
		<div class="footer-content">
			<div class="footer-links">
				<a href="/" class="footer-link">Home</a>
				<a href="/privacy" class="footer-link">Privacy Policy</a>
				<a href="/contact" class="footer-link">Contact</a>
			</div>
			<div class="footer-copyright">
				© 2024 Ocuroot. All Rights Reserved.
			</div>
		</div>
	</footer>
}
