package site

import (
	"github.com/ocuroot/templbuildr/site/components/section"
	"github.com/ocuroot/templbuildr/site/components/code"
)

templ Index() {
	@root(RootProps{
		Path: "/",
		Canonical: Canonical("/"),
		Description: "Open source CI / CD orchestration for multi-environment releases",

		RSS:         Canonical("blog", "rss.xml"),
		Atom:        Canonical("blog", "atom.xml"),
	}) {
		<!-- Hero Section -->
		<section class="hero-section">
			<div class="hero-background">
				<div class="hero-overlay"></div>
			</div>
			
			<div class="hero-content">
				<div class="hero-text">
					<h1 class="hero-title">
						Open source CI / CD orchestration for multi-environment releases
					</h1>
					<p class="hero-subtitle">
						Map out dependencies and implement custom logic to make managing dev and production environments easy.
					</p>
				</div>
			</div>
		</section>

		@section.ContentSectionWithTextRight("Ocuroot is shutting down",
			section.ContentImage(
				"/assets/blog/winding-down-ocuroot/cover.jpg", 
				"A stop/start button from a car",
			),
		) {
			<p>
				After 18 months of working on Ocuroot, I think it's time to move on. It's been a heck of a ride and quite the learning experience!
			</p>
			<p>
				I'll be leaving the blog posts up for the time being as I move some of the less product-specific ones to a new
				home.
			</p>
			<p>
			I wrote up a post detailing some of the reasons why Ocuroot didn't work out, and what I learned from the experience.
			</p>
			<a href="/blog/winding-down-ocuroot/" class="button" data-vmtrc="CTAClick" data-vmtrc-cta="shutdown-blog">
				Read the Blog
			</a>			
		}
	}
}

templ GitRepoCard(url string) {
	<div class="git-repo-card" data-repo-url={ url }>		
		<div class="repo-loading">Loading repository information...</div>
	</div>
}

templ DeclareEnvironments() {
	@code.TerminalCode(
		"environments.ocu.star",
		"python",
		`for i in range(1, 10):
    register_environment(environment(
        name=f"dev-{i}",
        attributes={
            "type": "dev",
            "region": "us-east-1",
        }
    ))

register_environment(environment(
    name="staging",
    attributes={
        "type": "staging",
        "region": "eu-west-2",
    }
))`,
	)
}

templ EscapeYAMLHell() {
	@code.TerminalCode("Terminal",
		"bash",
		`$ ocuroot repl frontend/package.ocu.star

Starting Starlark REPL with Ocuroot SDK
Type Ctrl+D to exit (Ctrl+C will interrupt the current operation)
Type 'help()' to see available SDK modules
Loaded repo: quickstart
Loaded file: frontend/package.ocu.star
Available user functions: 3

>>> environments()
[struct(attributes = {"frontend_port": "8080", "type": "staging"}, dict = <function _env_to_dict>, json = <function _env_to_json>, name = "staging")]
>>> `)
}	